<br>
<%= link_to tr('home'), {controller: :welcome, action: :index} %>

<h1><%= tr('size_clothes') %></h1>

<table border=1 cellpadding=10>
  <thead>
    <tr>
      <th><%= tr('ctype') %></th>
      <th><%= tr('cgender') %></th>
      <th><%= tr('csize') %></th>
      <th><%= tr('cdescription') %></th>
    </tr>
  </thead>

  <tbody>
    <% @clothes.each do |clothes| %>
		<tr>
			<td><%= clothes.ctype %></td>
			<td><%= clothes.cgender %></td>
			<td><%= clothes.csize %></td>
			<td><%= clothes.cdescription %></td>

			
			
		</tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
