<table width=50% align="center">
	<tr>
		<td>

			<table width="100%" align="left"> 
				<tr>
					<td width="170px" align="right" valign="botton"><img src="../images/calendar.png" height="120px"> </td>
					<td>
					<%= form_for(@enrollment) do |f| %>
					  <div class="actions">
						<%= f.submit %>
					  </div>

					  <% if @enrollment.errors.any? %>
						<div id="error_explanation">
						  <h2><%= tr("record_not_saved") %></h2>

						  <ul>
						  <% @enrollment.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						  <% end %>
						  </ul>
						</div>
					  <% end %>
						<p>
							<strong><%= tr("child") %>:</strong>
							<%= link_to @enrollment.child.try(:code), @enrollment.child %>
							<%= f.hidden_field :child_id, value: @enrollment.child_id %>
						  </p>

						  <div class="field">
							<%= f.label :school_year, tr('school_year') %><br>
							<%= f.text_field :school_year %>
						  </div>

						  <% if @user && @user.can_access_sponsor? %>
						  <div class="field">
							<%
							sponsors_array = Sponsor.all.order(code: :asc).map{|c| ["#{c.code} - #{c.given_name} #{c.family_name}", c.id]}
							sponsors_array.insert(0, ["", nil])
							%>
							<%= f.label :sponsor_id, tr('sponsor') %><br><%= f.select(:sponsor_id, sponsors_array) %>
						  </div>
						  <% end %>
						  <div style="clear:both;"></div>		
					</td>
				</tr>
			 </table> 

			  
			<table width="100%" align="left"> 
				<tr>
					<td width="170px" align="right" valign="top"><img src="../images/<%= Enrollment.get_gender_image(@enrollment.child_id) %>.png" height="120px"></td>
					<td>
						<center><h1><%= tr(Enrollment.get_gender_image(@enrollment.child_id)) %></h1></center>
						<table width="100%" border="1" align="center">
							  <tr valign="bottom">
								<td align="center">
									<img src="../images/shirt.png" height="50px"><br> 
									<%
									newyear_shirt_sizes_array = Enrollment.shirt_sizes_to_code(self,@enrollment.child_id)
									%>
									<%= @size %>
									<%= f.label :newyear_shirt_size, tr('newyear_shirt_size') %><br><%= f.select(:newyear_shirt_size, newyear_shirt_sizes_array) %>
								</td>
								<td align="center">
									<img src="../images/pant.png" height="50px"><br>
									<%
									newyear_pant_sizes_array = Enrollment.pant_sizes_to_code(self,@enrollment.child_id)
									%>
									<%= f.label :newyear_pant_size, tr('newyear_pant_size') %><br><%= f.select(:newyear_pant_size, newyear_pant_sizes_array) %>
								</td>
								<td align="center">
									<img src="../images/shoes.png" height="50px"><br>
									<%
									newyear_shoe_sizes_array = Enrollment.shoe_sizes_to_code(self,@enrollment.child_id)
									%>	
									<%= f.label :newyear_shoe_size, tr('newyear_shoe_size') %><br><%= f.select(:newyear_shoe_size, newyear_shoe_sizes_array) %>
								</td>
								<td width="70px">
									<%= link_to tr('new_size'), {controller: :clothes, action: :new} %>
								</td>
							  </tr>
							  <tr valign="bottom">
								<td align="center">
									<%
									midyear_shirt_sizes_array = Enrollment.shirt_sizes_to_code(self,@enrollment.child_id)
									%>
									<%= f.label :midyear_shirt_size, tr('midyear_shirt_size') %><br><%= f.select(:midyear_shirt_size, midyear_shirt_sizes_array) %>
								</td>
								<td align="center" valign="bottom">
									<%
									midyear_pant_sizes_array = Enrollment.pant_sizes_to_code(self,@enrollment.child_id)
									%>
									<%= f.label :midyear_pant_size, tr('midyear_pant_size') %><br><%= f.select(:midyear_pant_size, midyear_pant_sizes_array) %>
								</td>
								<td align="center" valign="bottom">
									<%
									midyear_shoe_sizes_array = Enrollment.shoe_sizes_to_code(self,@enrollment.child_id)
									%>
									<%= f.label :midyear_shoe_size, tr('midyear_shoe_size') %><br><%= f.select(:midyear_shoe_size, midyear_shoe_sizes_array) %>
								</td>
							</tr>
						</table>		
					
					</td>

				</tr>
			</table>

			<table width="100%"> 
				<tr>
					<td width="170px" align="right">
						<img src="../images/attendance.jpg" height="120px">
					</td>
					<td>
						<center><h1><%= tr('attendance') %> & <%= tr('work_form')%> </h1></center>
						<table width="100%" border="1" align="center">
						  <tr align="center">
							<td>
								<%
								newyear_attendance_array = Enrollment.attendance_to_code(self)
								newyear_attendance_array.insert(0, ["", nil])
								%>
								<%= f.label :gender, tr('newyear_attendance') %><br><%= f.select(:newyear_attendance, newyear_attendance_array) %>
							</td>
							<td>
							  <%= grades_array = Enrollment.grades_to_code(self)
							  grades_array.insert(0, ["", nil])
							  f.label :newyear_grade, tr('newyear_grade') %>
							  <br>
							  <%= f.select(:newyear_grade, grades_array) %>
							
							</td>
							<td>
								<%= f.label :report_card, tr('newyear_report_card')%><br><%= f.check_box :report_card %>
							</td>
							<td align="center">
								<%= f.label :work_form, tr('newyear_work_form') %><br><%= f.check_box :work_form %>
							</td>
						  </tr>
						  <tr align="center">
							<td align="center">
								<%
								midyear_attendance_array = Enrollment.attendance_to_code(self)
								midyear_attendance_array.insert(0, ["", nil])
								%>
								<%= f.label :gender, tr('midyear_attendance') %><br><%= f.select(:midyear_attendance, midyear_attendance_array) %>
							</td>
							<td>
								<%= f.label :midyear_grade, tr('midyear_grade') %><br><%= f.select(:midyear_grade, grades_array) %>
							</td>

							<td>
								<%= f.label :midyear_report_card, tr('midyear_report_card')%><br><%= f.check_box :midyear_report_card %>

							</td>
							<td align="center">
								<%= f.label :midyear_work_form, tr('midyear_work_form') %><br><%= f.check_box :midyear_work_form %>
							</td>

						</tr>
						</table>
					</td>
				</tr>
			</table>

			<table  width="100%"> 
				<tr align="right" valign="top">
					<td width="170px" align="right" valign="center"><img src="../images/magnifying.png" height="90px"> 
					</td>
					<td> 
						<center><h1><%= tr('internal_controls') %></h1></center>
						<table align="center" width="100%">
							<tr align="center" >
								<td>
									<table width="100%">
										<tr align="center">
											<td>
												<%= f.label :pass, tr('pass') %><br><%= f.check_box :pass %>
											</td>
											   
											<td>
												<%= f.label :letter, tr("letter") %><br><%= f.check_box :letter %>
											</td>
												
											<td>
												<%= f.label :included, tr('included') %><br><%= f.check_box :included %>
											</td>
										</tr>
									</table>
								
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%">
										<tr align="center">
											<td>
												<%= f.label :close_up_photo, tr("close_up_photo") %><br>
												<%= f.text_field :close_up_photo %>

											</td>
											   
											<td>
												<%= f.label :full_photo, tr("full_photo") %><br>
												<%= f.text_field :full_photo %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%">
										<tr align="center">
											<td>
												<%= f.label :notes, tr('notes') %><br>
												<%= f.text_area :notes, cols: 40, rows: 5 %>
											</td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
					</td>
			</table>
		</td>

	</tr>
</table>
<BR><BR><BR><BR><BR><BR>
<% end %>
