<!DOCTYPE html>
<html>
<head>
  <title>Costa Rica Kids</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="/stylesheets/application.css">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

</style>
</head>
<body>
<% if @user %>
<div class="header"><p>role: <%= tr("role_" + @user.role) %>
<h1><%= Time.new.inspect %></h1></div>
<% end %>
<div class="logo"><img src="/crk.png" height="100px"></div>
<br>
<br>
<br>
<br>
<br>


<%= yield %>



<div class="footer">
  Costa Rica Kids School Sponsorship Program &middot; Foursquare Gospel Church of Canada &middot; Private and Confidential
</div>

</body>
</html>
